version: "3"
services:
  db:
    image: postgres
    container_name: hrportalPostgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: postgres
      POSTGRES_DB: hrportal